@import url("https://code.cdn.mozilla.net/fonts/fira.css");
/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/
body {
  background: #e3ecf1;
  color: #6e6f72;
  font-family: 'Fira Sans', Trebuchet MS;
}
a {
  text-decoration: none;
}
a img {
  border: 0 none;
  outline: none;
}
img {
  border: 0 none;
  max-width: 600px !important;
  height: auto !important;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}
table,
td {
  border-collapse: collapse;
}
td.no-padding {
  padding: 0;
}
#background-table {
  background: url("https://sendto.mozilla.org/page/-/thimble-email-template-August-2015/img/teach-referral-bg-white%402x.png") repeat repeat #e3ecf1;
  background-size: 399px 393px;
}
#content-wrapper-table {
  border: 1px solid #ccc;
}
#logo-header {
  background: #5bb1e0;
}
#main-content {
  background: #ffffff;
}
#main-content h1 {
  font-size: 69.333px;
  text-align: center;
  margin-top: 0;
}
#main-content h2 {
  font-size: 37.333px;
  text-align: center;
}
#content-footer {
  background: #f5f5f5;
  font-size: 21px !important;
}
#content-footer a {
  display: inline-block;
}
#content-footer a > span {
  color: #00adef;
  text-decoration: none;
}
#email-footer {
  font-size: 12px !important;
}
#email-footer a > span {
  color: #6e6f72;
  text-decoration: underline;
}
