/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/
body {
  background: #6365ab;
  font-family: Trebuchet MS;
  color: #49479d;
}
a {
  text-decoration: none;
}
table,
td {
  border-collapse: collapse;
}
td.no-padding {
  padding: 0;
}
#container-table {
  margin: 20px auto;
}
#content-wrapper-table {
  background: url("") top center no-repeat #dfdeef;
}
#logo-header {
  background: #dfdeef;
}
#main-content h1 {
  font-size: 69.333px;
  text-align: center;
  margin-top: 0;
}
#main-content h2 {
  font-size: 37.333px;
  text-align: center;
}
#secondary-content {
  background: #dfdeef;
}
#secondary-content a > span {
  color: #49479d;
  font-weight: bold;
}
#content-footer {
  background: #00a7e1;
}
#content-footer a {
  display: inline-block;
}
#content-footer a > span {
  color: #ffffff;
  text-decoration: none;
}
#email-footer {
  background: #0090c2;
  color: #ffffff;
}
#email-footer a > span {
  color: #ffffff;
  text-decoration: underline;
}
