@bgPurple: #6365ab;
@bgLightPurple: #dfdeef;
@bgLightBlue: #00a7e1;
@bgBlue: #0090c2;
@textPurple: #49479d;
@linkGreen: #4bd4c0;
@white: #fff;

/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/

body {
  background: @bgPurple;
  font-family: Trebuchet MS;
  color: @textPurple;
}

a {
  text-decoration: none;
  img {
    border: 0 none;
    outline: none;
  }
}

 img{
  border: 0 none;
  max-width: 600px !important;
  height: auto !important;
  line-height: 100%;
  outline: none;
  text-decoration: none;
}

table,
td {
  border-collapse: collapse;
}

td.no-padding {
  padding: 0;
}

#background-table {
  background: @bgPurple;
}

#content-wrapper-table {
  background: @bgLightPurple;
}

#logo-header {
  background: @bgLightPurple;
}

#main-content {
  h1 {
    font-size: 69.333px;
    text-align: center;
    margin-top: 0;
  }
  h2 {
    font-size: 37.333px;
    text-align: center;
  }
}

#secondary-content {
  background: @bgLightPurple;
  a > span {
    color: @textPurple;
    font-weight: bold;
  }
}

#content-footer {
  background: @bgLightBlue;
  a {
    display: inline-block;
  }
  a > span {
    color: @white;
    text-decoration: none;
  }
}

#email-footer {
  background: @bgBlue;
  color: @white;
  a > span {
    color: @white;
    text-decoration: underline;
  }
}
