/* ***** CSS properties to avoid and switch to HTML attributes *****
*  margin, padding ---> cellspacing, cellpadding on <table>
*  width, height ---> width, height on <table>, <td>
*/
body {
  background: #55575c;
  font-family: Trebuchet MS;
  color: #ffffff;
}
a {
  color: #4bd4c0;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
#container-table {
  margin: 20px auto;
  background: #55575c;
}
#content-wrapper-table {
  background: url("https://sendto.mozilla.org/page/-/webmaker-email-template-July-2015/img/top-gradient.png") top center no-repeat #585ba5;
  border: 1px solid #333;
}
#main-content h1 {
  font-size: 69.333px;
  text-align: center;
  margin-top: 0;
}
#main-content h2 {
  font-size: 37.333px;
  text-align: center;
}
#secondary-content {
  background: #7c7bb8;
}
#content-footer {
  background: #00a7e1;
}
#content-footer a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}
